.navbar.navbar-default.navbar-fixed-top
  -# .container-fluid
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} TOP
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: tags_path} ハッシュタグ
        %li
          %a{:href => root_path} ユーザー
      %form.navbar-form.navbar-left
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            - if user_signed_in?
              ようこそ #{current_user.nickname} さん
            - else
              ユーザー名
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} マイページ
            %li
              %a{:href => "#"} アカウント設定
            %li.divider{:role => "separator"}
            %li
              = link_to 'サインアウト', destroy_user_session_path, method: :delete
