.navbar.navbar-default.navbar-fixed-top
  -# .container-fluid
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} TOP
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"}
            Link
            %span.sr-only (current)
        %li
          %a{:href => "#"} Link
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Separated link
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} One more separated link
      %form.navbar-form.navbar-left
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Link
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Separated link
    / /.navbar-collapse
  / /.container-fluid



-# .header
-#   .navbar.navbar-default.navbar-fixed-top
-#     .container
-#       .navbar-header
-#         %a.navbar-brand{:href => "/"} タイトル
-#         %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
-#           %span.icon-bar
-#           %span.icon-bar
-#           %span.icon-bar
-#       #navbar-main.navbar-collapse.collapse
-#         %ul.nav.navbar-nav
-#           %li.active
-#             %a{:href => "/"} Top
-#           %li.dropdown
-#             %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
-#               Demo
-#               %span.caret
-#             %ul.dropdown-menu{:role => "menu"}
-#               %li
-#                 %a{:href => "bootstrap-ja.html"} Japanese Page
-#               %li
-#                 %a{:href => "bootstrap.html"} English Page
-#           %li
-#             %a{:href => "//github.com/kubosho/Nico/releases"} Download
-#           %li
-#             %a{:href => "//github.com/windyakin/Honoka/wiki"} Wiki
-#         .nav.navbar-form.navbar-right
-#           .form-group
-#             %a.btn.btn-twitter{:href => "https://twitter.com/intent/tweet?url=http://nico.kubosho.com/&text=Nico%20%2d%20%e6%97%a5%e6%9c%ac%e8%aa%9e%e3%82%82%e7%be%8e%e3%81%97%e3%81%8f%e8%a1%a8%e7%a4%ba%e3%81%a7%e3%81%8d%e3%82%8bBootstrap%e3%83%86%e3%83%bc%e3%83%9e"}
-#               %i.fa.fa-twitter.fa-lg
-#               Tweet
-#             %a.btn.btn-facebook{:href => "http://www.facebook.com/sharer.php?u=http://nico.kubosho.com/"}
-#               %i.fa.fa-facebook.fa-lg
-#               Share
-#             %a.btn.btn-hatebu{:href => "javascript:window.open('http://b.hatena.ne.jp/add?mode=confirm&is_bm=1&title='+escape(document.title)+'&url='+escape(location.href),%20'_blank',%20'width=520,height=600,resizable=1,scrollbars=1');undefined;"}
-#               %i.fa.fa-hatebu.fa-lg
-#               Bookmark
