.container.top_container

  .row.voffset10
    .col-md-12.col-sm-12
      .row
        %h1.text-left 画像を新規投稿
    .col-md-4.voffset10
      .row
        = form_for @picture do |f|




          = f.file_field :image, id: "lefile", style: "display: none"
          %span{class: "input-group-btn"}
            .row
              .col-sm-12
                %button{type: "button",
                        class: "btn btn-default btn-lg btn-block",
                        onclick: "$('input[id=lefile]').click();"} 画像を選択

          .row.voffset10
            .col-sm-12.col-sm-4
              %ul#picture-tags

          .row.voffset10
            .col-sm-12.col-sm-4
              %p
                ※ 写真をアップロードすると写真のexif情報も保存されますが、初期段階ではexif情報は全て非公開になっています。アップロード完了後にexif情報の公開設定や変更等を行えます。

          %span{class: "input-group-btn"}
            .row.voffset10
              .col-sm-12
                %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} 写真をアップロード


        .row.voffset10
          .col-sm-12.col-sm-4
            %button.btn.btn-warning.btn-block.btn-lg{type: "button", href: root_path, class: "center-block"} トップへ

    .col-sm-12.col-md-8.voffset10
      .thumbnail.text-center
        -# - if request.path_info == new_picture_path
        -#   #preview
        -#     %h1 ここに画像が表示されます
        -# - elsif request.path_info == edit_picture_path(picture)
        -#   #preview
        -#     = image_tag picture.image
        -#     %h1 ここに画像が表示されます

        -# - if @picture.errors.any?
        -#   %p{style: "font-color: red"}
        -#     %h1 画像を選択してください
        - if @picture.errors.any?
          #error_explanation
            -# %h2
            -#   = pluralize(@picutre.errors.count, "error")
            -#   prohibited this picture from being saved:
            %p
              - @picture.errors.full_messages.each do |message|
                %h1{style: "color: red"}
                  = message

    -# .col-sm-12.col-md-5
    -#   .thumbnail
    -#     %p#exif exif情報
