.container
  .row.voffset10
    .col-sm-12.col-md-7
      .thumbnail.text-center
        - if request.path_info == new_picture_path
          #preview
            %h1 ここに画像が表示されます
        - elsif request.path_info == edit_picture_path(picture)
          #preview
            = image_tag picture.image
            %h1 ここに画像が表示されます
    .col-sm-12.col-md-5
      .thumbnail
        %p#exif exif情報
