= form_for @picture do |f|
  - if @picture.errors.any?
    #error_explanation
      %h2
        = pluralize(@picutre.errors.count, "error")
        prohibited this picture from being saved:
      %ul
        - @picture.errors.full_messages.each do |message|
          %li= message
  .row.voffset20
    .col-lg-6
      %input{id: "lefile", type: "file", style: "display:none"}
      .input-group
        %input{type: "text", id: "photoCover", class: "form-control", placeholder: "select file..."}
        %span{class: "input-group-btn"}
          %button{type: "button", class: "btn btn-info", onclick: "$('input[id=lefile]').click();"} Browse
          %button.btn.btn-primary{:type => "submit"} Submit
      .input-group

