= form_for @picture do |f|
  - if @picture.errors.any?
    #error_explanation
      %h2
        = pluralize(@picutre.errors.count, "error")
        prohibited this picture from being saved:
      %ul
        - @picture.errors.full_messages.each do |message|
          %li= message
  .row.voffset20
    .col-lg-6
      = f.file_field :image, id: "lefile", style: "display: none"
      .input-group
        %span{class: "input-group-btn"}
          %button{type: "button", class: "btn btn-info", onclick: "$('input[id=lefile]').click();"} Browse
          // このボタンを押したということは#lefileを押したことと同じ。
          // #lefileを表示するとおかしなレイアウトになるから隠しておけばいい。
          %button.btn.btn-primary{:type => "submit"} Submit
      .input-group

