.row
  .col-sm-12.col-md-4
    .thumbnail
      = image_tag picture.image
      .caption
        %h3 Thumbnail label
        %p ...
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} 詳しく見る
          %a.btn.btn-default{:href => "#", :role => "button"} Button
