-# ヘッダーを部分テンプレートを使う。全てのページで使用できる。
= render "shared/header"

.jumbotron.special
  .container
    %h1 ようこそ
    %p ここはサブタイトル
    %p
      %a.btn.btn-primary.btn-lg{href: "/pictures/new",role: "button"} 投稿


-# サムネイル画像を連続して表示するために部分テンプレートを使う。
.container
  .row
    - @pictures.each do |picture|
      = render "thumbnails", picture: picture


-# ヘッダーを部分テンプレートを使う。全てのページで使用できる。
= render partial: "shared/footer"
