= render "shared/header"

.container
  %h1 New Picture
  = render 'form', picture: @picture
.container
  .row
    .col-sm-12.col-md-8
      .thumbnail
        .preview.text-center
    .col-sm-12.col-md-4
      .thumbnail
        = render "/shared/exif"
.container
  = link_to 'Back', root_path
