// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top_container {
  margin-top: 50px;
}

.preview img {
  width: 100%;
}

.ui-helper-hidden-accessible {
  display: none;
}

.thumbnail.text-center {
  min-height: 555px;
  min-width: 740px;
}

.thumbnail {
  min-height: 490px;
}

.label {
  font-weight: normal;
  margin-right: 8px;
}
